<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    {% for service, service_name in services.items %}
    <ul>
        <li><p><a href="/get_ticket/{{ service }}">{{   service_name }}</a></p></li>
    </ul>
    {% endfor %}
</body>
</html>