<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next client</title>
</head>
<body>
{% if next_num %}<div>Next ticket #{{ next_num }}</div>
{% else %} <div>Waiting for the next client</div>
      <!-- Without the closing tag the whole expression is not correct -->
      {% endif %}
</body>
</html>