<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing</title>
</head>
<body>
    <div>Change oil queue: {{ service.change_oil|length }}</div>
    <div>Inflate tires queue: {{ service.inflate_tires|length }}</div>
    <div>Get diagnostic queue: {{ service.diagnostic|length }}</div>

    <form method="post">{% csrf_token %}
        <button type="submit">Process next</button>
    </form>
</body>
</html>