<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ service }}</title>
</head>
<body>
    <div>Your number is {{ ticket_number }}</div>
    <div>Please wait around {{ minutes_to_wait }} minutes</div>
</body>
</html>